:root{
    --primary-color: #6C9BCF;
    --color-danger: #FF0060;
    --color-success:#1B9C85;
    --color-white:#FFF;
    --color-info-dark:#7D8DA1;
    --color-warning: #ffd000;
}

h1{
    font-size: 1.4rem;
    font-weight: 600;
}

h2{
    font-size: 0.87rem;
    font-weight: 500;
}

h3{
    font-size: 0.76rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;   
    background-color: #f6f6f9;
}

.container{
    height: 480px;
    width: 768px;
    background-color: var(--color-warning);
    border-radius: 30px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.container .left, .right{
    flex: 1;
    height: 100%;
}

.container .right{
    padding:10px 0;
    background-color: var(--color-warning);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.right h1{
    background-color: var(--color-success);
    font-size: 30px;
    padding: 7px 10px;
    border-radius: 10px;
    color: #000;
    font-style: italic;
    color: white;
}

.right h1 span{
    color: var(--color-warning);
    font-style: normal;
}

.right form{
    gap: 10px;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right form .col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.right form .col label{
    color: var(--color-white);
}

form .row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.right form .col input, form .row .col select{
    width: 100%;
    height: 30px;
    font-size: 12px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #F6F6F6;
}



.right form input[type = "submit"]{
    width: 50%;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--color-success);
    font-size:16px;
    color: var(--color-white);
    border-radius: 7px;
   transition: all 0.3s ease-in-out;
   margin-top: 20px;
}

.right form input[type = "submit"]:hover{
    background-color: var(--color-success);
    transform: scale(1.05);
}

.left{
    border-radius: 0 50px 50px 0px;
    background-color: var(--color-success);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left h1{
    font-size: 40px;
    color: var(--color-white);
    font-weight: 600;
    line-height: 1;
}

.left p{
    font-size: 14px;
    font-weight: 500;
    color: var(--color-warning);
    margin-bottom: 10px;
}

.left a{
    border: 1px solid var(--color-warning);
    padding: 7px 10px;
    border-radius: 7px;
    font-size: 15px;
    color: var(--color-white);
    transition: all 0.3s ease-in-out;
}

.left a:hover{
    background-color: var(--color-warning);
    color: var(--color-success);
}

