<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/register.css">
    <title>Education</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <h1>Ease<span>Edu</span></h1>
            <form action="{{url_for('login')}}" method = "POST">
                <div class="col">
                    <label for="">Email</label>
                    <input type="email" name="logemail" id="">
                </div>

                <div class="col">
                    <label for="">Password</label>
                    <input type="password" name="logpassword" id="">
                </div>

                <input type="submit" value="Log-in">
            </form>
        </div>
        <div class="right">
            <h1>Hello, Co-Student!</h1>
            <p>Register Here to experience our site features</p>
            <a href="{{url_for('index')}}">Sign Up</a>
        </div>
    </div>
</body>
</html>